.list{
  box-shadow: 5px 5px 15px 0px #000000;
  width: 308px;
  height : 180px;
  margin-top: 30px;
  margin-right: 50px;
}

.imgList{
  width: 128px;
  padding-left: 84px;
  padding-right: 86px;
  margin-left: 5px;
  box-shadow: 0px 0px 0px 5px #000000;
 
}

.nameList{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  height: ;
  cursor: pointer;
  color: whitesmoke;
  background-color: #333;
  margin-top: -15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left:10px;
}

.nameList:hover{
  text-decoration: underline;
}

.flexlist{
  display: flex;
  justify-content: center;
  
}

.buttoncreatelist{
  width: 189px;
  height: 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 6px 12px;
  color: whitesmoke;
  background-color: #333;
  margin-top: 30px;
  margin-left: 43.5%;
  font-size: 13px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.buttoncreatelist img{
  width: 16px;
  height: 16px;
  filter: invert(1);
}

.buttondeletelist{
  width: 34px;
  height: 34px;
  border: none;
  margin-left: -34px;
  
  filter: invert(1);
  position: absolute;
  opacity: 0;
}

.buttondeletelist img{
  width: 20px;
  height: 20px;
}

.buttondeletelist:hover{
  cursor: pointer;
  opacity: 0.7;
}
